.ac-container{
	width: 100%;
	margin: 10px auto 30px auto;
	text-align: left;
}
.ac-container label{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 30px;
	cursor: pointer;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 19px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover{
	background: #fff;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: #c6e1ec;
	color: #3d7489;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../images/arrow_down.png) no-repeat center center;	
}
.ac-container input:checked + label:hover:after{
	background-image: url(../images/arrow_up.png);
}
.ac-container input{
	display: none;
}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p{
	font-style: italic;
	color: #777;
	line-height: 23px;
	font-size: 14px;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
	height: 140px;
}
.ac-container input:checked ~ article.ac-medium{
	height: 180px;
}
.ac-container input:checked ~ article.ac-large{
	height: 230px;
}

    #scroller-view h2{
        margin: 15px 10px 0 10px;
    }

    #scroller-view img {
        -webkit-transform: translatez(0);
    }

    #scroller-view .scroller-content {
        font-weight: normal;
        height: 130px;
        margin: 15px 0;
        background-color: rgba(0, 0, 0, 0.07);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45) inset;
    }
/*END ACCORDION*/

/* IMAGES */
.welcome-image {
    background-image: url(../styles/images/ITSligoFish.png);
    background-repeat: no-repeat;
    text-align:center;
    width: 250px;
    height: 200px;
    display: block;
    margin: 0px auto;
}

#tabstrip-what-to-bring> div.km-content.km-widget.km-scroll-wrapper{
    background: #7db1ac;
    background-image:url(../styles/images/background.png);
    background-repeat:repeat;
    
}
#tabstrip-Timetable> div.km-content.km-widget.km-scroll-wrapper{
    background: #7db1ac;
    background-image:url(../styles/images/background.png);
    background-repeat:repeat;
    
}
#tabstrip-Engineering> div.km-content.km-widget.km-scroll-wrapper{
    background: #7db1ac;
    background-image:url(../styles/images/background.png);
    background-repeat:repeat;
    
}
#tabstrip-enrolment-help> div.km-content.km-widget.km-scroll-wrapper{
    background: #7db1ac;
 background-image:url(../styles/images/background.png);
    background-repeat:repeat;
    
}
#tabstrip-home> div.km-content.km-widget.km-scroll-wrapper{
    background: #7db1ac;
    background-image:url(../styles/images/background.png);
    background-repeat:repeat;
   
}
#Drawer1 > div.km-content.km-widget.km-scroll-wrapper{
	background: #00395c;
    color:#fff;    
}

#Drawer1 > div li:hover , li:active  {
    background: #89CBDF;
    color:#fff;
    border-left:3px;

}


.logo-image {
    background-image: url(../styles/images/logo.png);
    background-repeat: no-repeat;
    width: 319px;
    height: 60px;
    display: block;
    margin: 0px auto;
}

/* LOCATION VIEW STYLES */
.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.map-tools {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.map-tools > div {
    position: relative;
    text-align: center;
    height: 100%;
}

.map-tools .map-tools-button {
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    color: #fff;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
}
.map-tools .map-tools-button:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
}
.map-tools .map-tools-button.home {
    left: 0;
}
.map-tools .map-tools-button.search {
    right: 0;
}
.map-tools .map-tools-button.home:before { background-image: url(../styles/images/location.png); }
.map-tools .map-tools-button.home:active:before { background-image: url(../styles/images/location_active.png); }
.map-tools .map-tools-button.search:before { background-image: url(../styles/images/search.png); }
.map-tools .map-tools-button.search:active:before { background-image: url(../styles/images/search_active.png); }

.map-tools input[type=search].map-tools-input {
    height: 100%;
    width: 65%;
    margin: 1em 0;
    padding: 0.5em 1em;
}
.km-wp .map-tools input[type=search].map-tools-input {
    width: 50%;
}
