@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);

body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    color:fff;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500; 
    text-shadow:  0px .5px .5px rgba(31, 32, 32, 0.22);
color: #fff;
}
/*Font Styling*/
.bold
{font-weight:bold;}
.thin
{font-weight:200;}

p{
    font-size:1.1em;
}

#Indexcontainer {

font-size: larger;
}
ul.km-widget.km-listview.km-list.km-listinset {
	text-shadow: 0px .5px 1px #1F2020;
    color: #F8F8F8;}

.navstyle{
    background:url('../styles/images/ItsligoHeader2.png') no-repeat;
    background-color:transparent;
    background-size:100%;
    
}
.ac-container{
	width: 100%;
	margin: 10px auto 30px auto;
	text-align: left;
}
.ac-container label{
	padding: 5px 20px;
	position: relative;
	z-index: 20;
	display: block;
	height: 30px;
	cursor: pointer;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 19px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover{
	background: whitesmoke;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: #3d7489;
	color: white;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../images/arrow_down.png) no-repeat center center;	
}
.ac-container input:checked + label:hover:after{
	background-image: url(../images/arrow_up.png);
}
.ac-container input{
	display: none;
}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p{
	font-style: italic;
	color: #777;
	line-height: 23px;
	font-size: 14px;
	padding: 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
	height: 140px;
}
.ac-container input:checked ~ article.ac-medium{
	height: 180px;
}
.ac-container input:checked ~ article.ac-large{
	height: 230px;
}

#scroller-view h2{
    margin: 15px 10px 0 10px;
}

#scroller-view img {
    -webkit-transform: translatez(0);
}

#scroller-view .scroller-content {
    font-weight: normal;
    height: 130px;
    margin: 15px 0;
    background-color: rgba(0, 0, 0, 0.07);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45) inset;
}
/*END ACCORDION*/
a.login-button{
    
    margin:0px !important";
}
/* Back Button Stlye */
.backbutton{
    height: 40px;
  
    background: none;
    color: white;
    border: none;
    margin: 2.5%;
    font-size: 1.3em;
}
/*main Heading */
.mainHeadings{
    text-decoration:underline;
}
/* IMAGES */
#ITSligoFish{
    background-image: url(../styles/images/ITSligoFish.png);
    margin-left: 2.5%;
	margin-top:5px;
	margin-right: auto;
	width: 95%;
   box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.31);
}
.schoolIcons{
   width:20px;   
}
/* school Sytle */
.schoolh2{
    margin-left:10px;
}
.schoolh2 a{
    margin-top:10px;
    font-size:18px;
    text-decoration:none !important;
    
}
.schoolP{
    font-size:25px;
}
 .accordingH2
{
    
}

/*Map style */
.mapiframe
{
    margin-top:10px;
}
.ilErfe-e1YmVc-ZMv3u 
{
    display:none !important;
}
.div #featurelist-scrollable-container
{max-height: 306px;
max-width: 200px;
}
.div #featureListPanel {
width: 150px !important;
background: rgba(255, 255, 255, 0.46) !important;
}


/* TabStrips */
#tabstrip-Business> div.km-content.km-widget.km-scroll-wrapper{
    background: #7db1ac;
    background-image:url(../styles/images/background.png);
    background-repeat:repeat;
    
}
#tabstrip-Science> div.km-content.km-widget.km-scroll-wrapper{
    background: #7db1ac;
    background-image:url(../styles/images/background.png);
    background-repeat:repeat;
    
}
#tabstrip-what-to-bring> div.km-content.km-widget.km-scroll-wrapper{
    background: #7db1ac;
    background-image:url(../styles/images/background.png);
    background-repeat:repeat;
    
}
#tabstrip-Timetable> div.km-content.km-widget.km-scroll-wrapper{
    background: #7db1ac;
    background-image:url(../styles/images/background.png);
    background-repeat:repeat;
    
}
#tabstrip-Engineering> div.km-content.km-widget.km-scroll-wrapper{
    background: #7db1ac;
    background-image:url(../styles/images/background.png);
    background-repeat:repeat;
    
}
#tabstrip-enrolment-help> div.km-content.km-widget.km-scroll-wrapper{
    background: #7db1ac;
    background-image:url(../styles/images/background.png);
    background-repeat:repeat;
    
}
#tabstrip-home> div.km-content.km-widget.km-scroll-wrapper{
    background: #7db1ac;
    background-image:url(../styles/images/background.png);
    background-repeat:repeat;
   
}
#Drawer1 > div.km-content.km-widget.km-scroll-wrapper{
	background: #00395c;
    color:#fff;   
}

#Drawer1 > div li:hover , li:active  {
    background: #89CBDF;
    color:#fff;
    border-left:3px;
}

.btnDrawer{
   background-image:url(../styles/images/yKnQI.png);
   width: 30px;
   height:30px;
/*   margin-left:-15px;
   margin-top:-10px;*/
   
}

.logo-image {
    background-image: url(../styles/images/logo.png);
    background-repeat: no-repeat;
    width: 319px;
    height: 60px;
    display: block;
    margin: 0px auto;
}

/* LOCATION VIEW STYLES */
.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.map-tools {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.map-tools > div {
    position: relative;
    text-align: center;
    height: 100%;
}

.map-tools .map-tools-button {
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    color: #fff;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
}
.map-tools .map-tools-button:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
}
.map-tools .map-tools-button.home {
    left: 0;
}
.map-tools .map-tools-button.search {
    right: 0;
}
.map-tools .map-tools-button.home:before { background-image: url(../styles/images/location.png); }
.map-tools .map-tools-button.home:active:before { background-image: url(../styles/images/location_active.png); }
.map-tools .map-tools-button.search:before { background-image: url(../styles/images/search.png); }
.map-tools .map-tools-button.search:active:before { background-image: url(../styles/images/search_active.png); }

.map-tools input[type=search].map-tools-input {
    height: 100%;
    width: 65%;
    margin: 1em 0;
    padding: 0.5em 1em;
}
.km-wp .map-tools input[type=search].map-tools-input {
    width: 50%;
}
