<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="../kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="../styles/main.css" rel="stylesheet" />

    <script src="../cordova.js"></script>
    <script src="../kendo/js/jquery.min.js"></script>
    <script src="../kendo/js/kendo.mobile.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

    <script src="../scripts/location.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body>
    <!--Enrolment Help-->
     <div id="tabstrip-enrolment-help"
        data-role="view"
        data-title="Enrolment Help">
            <div data-role="navbar" class="navstyle">
            	<a style="margin-left:-15px;margin-top:-10px;" data-role="button" data-rel="drawer" href="#Drawer1" data-align="left"><img class="btnDrawer"/></a>
            </div>
 	  
         <div class="view-content">
          <h1><span class="bold">Registration</span><span class="thin"> Help : Part 4</span></h1>
              <H2>Step 11A - Make Payment for your registration</H2>
             <center>
             	<img src="../styles/images/step11a.png" style="width:290px;height:250px;"/>
             </center>
             <br/>
             <hr/>
             <H4>Step 10</H4>
             <center>
             	<img src="../styles/images/Step_10.png" style="width:250px;height:250px;"/>
             </center>
             <br/>
             <hr/>
             <H2>Step 10 B</H2>
             <center>
             	<img src="../styles/images/Step_10B.png" style="width:250px;height:250px;"/>
             </center>
             <br/>
             <hr/>
             <H2>Step 11</H2>
             <center>
             	<img src="../styles/images/Step_11.png" style="width:250px;height:300px;"/>
             </center>
             <br/>
             <hr/>
             <br/>
             <hr/>
             <a style="float:left" href="Enrolment.html"><h3>&#8592;Register Home</h3></a>
		 </div>
    </div>
</body>
</html>