<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="../kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="../styles/main.css" rel="stylesheet" />

    <script src="../cordova.js"></script>
    <script src="../kendo/js/jquery.min.js"></script>
    <script src="../kendo/js/kendo.mobile.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

    <script src="../scripts/location.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body>
    <!--Enrolment Help-->
     <div id="tabstrip-enrolment-help"
        data-role="view"
        data-title="Enrolment Help">
            <div data-role="navbar" class="navstyle">
            	<a style="margin-left:-15px;margin-top:-10px;" data-role="button" data-rel="drawer" href="#Drawer1" data-align="left"><img class="btnDrawer"/></a>
            </div>
 	  
         <div class="view-content">
          <h1 class="mainHeadings"><span class="bold">Registration</span><span class="thin"> Help</span></h1>
             <h4>Introduction</h4>
             <p>This quick reference guide contains step by step instructions on how to:</p>
                 <li>
                    <ul>1.Complete and submit your course registration details online.</ul>
                    <ul>2.Make payment for registration online.</ul>
                 </li>
                <p>This guide is a tool to be used by students who would like to register for their year of study in the Institute. 
			 </p>
             
             <a style="margin-left:-15px;margin-top:-10px;" href="views/Enrol1.html"><h3>Click Here to follow the steps.</h3></a>
		 </div>
    </div>
</body>
</html>