<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="../kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="../styles/main.css" rel="stylesheet" />

    <script src="../cordova.js"></script>
    <script src="../kendo/js/jquery.min.js"></script>
    <script src="../kendo/js/kendo.mobile.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

    <script src="../scripts/location.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body>
    <!--Enrolment Help-->
     <div id="tabstrip-enrolment-help"
        data-role="view"
        data-title="Enrolment Help">
            <div data-role="navbar" class="navstyle">
            	<a style="margin-left:-15px;margin-top:-10px;" data-role="button" data-rel="drawer" href="#Drawer1" data-align="left"><img class="btnDrawer"/></a>
            </div>
 	  
         <div class="view-content">
          <h1><span class="bold">Registration</span><span class="thin"> Help : Part 2</span></h1>
             <hr/>
             <H2>Step 2</H2>
             <center>
             	<img src="../styles/images/Step 2.png" style="width:250px;height:250px;"/>
             </center>
             <br/>
             <hr/>
             <H2>Step 3</H2>
             <center>
             	<img src="../styles/images/Step_3.png" style="width:250px;height:250px;"/>
             </center>
             <br/>
             <hr/>
             <H2>Step 4</H2>
             <center>
             	<img src="../styles/images/Step_4.png" style="width:250px;height:300px;"/>
             </center>
             <br/>
             <hr/>
             <H2>Step 5</H2>
             <center>
             	<img src="../styles/images/Step_5.png" style="width:250px;height:300px;"/>
             </center>
           
             <hr/>
             <div>
                 <a style="float:left" href="Enrolment.html"><h3>&#8592;Register Home</h3></a><a style="float:right" href="Enrol2.html"><h3>Part 3 &#8594;</h3></a>
             </div>
		 </div>
    </div>
</body>
</html>