<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="../kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="../styles/main.css" rel="stylesheet" />

    <script src="../cordova.js"></script>
    <script src="../kendo/js/jquery.min.js"></script>
    <script src="../kendo/js/kendo.mobile.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

    <script src="../scripts/location.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body>
    <!--Enrolment Help-->
     <div id="tabstrip-enrolment-help"
        data-role="view"
        data-title="Enrolment Help">
			<div data-role="navbar" class="navstyle">
           	 <a data-role="button" data-rel="drawer" href="#Drawer1" data-icon="drawer-button" data-align="left"></a>
            </div>
 	  
         <div class="view-content">
          <h1><span class="bold">Registration</span><span class="thin"> Help</span></h1>
		 </div>
    </div>
</body>
</html>