<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="../kendo/styles/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="../styles/main.css" rel="stylesheet" />

    <script src="../cordova.js"></script>
    <script src="../kendo/js/jquery.min.js"></script>
    <script src="../kendo/js/kendo.mobile.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

    <script src="../scripts/location.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body>
    <!--Timetable-->
    <div id="tabstrip-Timetable"
        data-role="view"
        data-title="Timetable">

         <div class="view-content">
           <div data-role="navbar" class="navstyle">
            	<a style="margin-left:-15px;margin-top:-10px;" data-role="button" data-rel="drawer" href="#Drawer1" data-align="left"><img class="btnDrawer"/></a>
            </div>
             <h1 class="mainHeadings"><span class="bold">Time</span><span class="thin">Table</span></h1>
             <div id="timetableSchoolHolder">
                 <p class="schoolP">
                     Select the school you are in:
                 </p>
                 <h2 class="schoolh2">
                     <a class="login-button" href="views/Engineering.html"><img class="schoolIcons" src="styles/images/Industry-engineering-icon.png"/><span class="bold">School of</span><span class="thin">Engineering and Design</span></a>
             </h2>
              <h2 class="schoolh2">
                  <a  class="login-button" href="views/Science.html"><img class="schoolIcons" src="styles/images/Science-Test-tube-icon.png"/><span class="bold ">School of</span><span class="thin"> Science</span></a>
             </h2>
              <h2 class="schoolh2">
                  <a  class="login-button" href="views/Business.html"><img class="schoolIcons" src="styles/images/Science-Business-icon.png"/><span class="bold ">School of</span><span class="thin"> Business</span></a>
             </h2>
             </div>  
            
         </div>
    </div>
</body>
</html>